body {
    background-color: #191d28;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-nav .logo h1 {
    font-size: 40px;
    color: #48a9a6;
}

.top-nav .telegram button{
    background-color: #48a9a6;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 14px;
}
.percentage-change p{
    font-size: larger;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.header .percentage-change {
    font-size: 14px;
    color: #48a9a6;
    margin-left: 20px;
}

.top-change, .bottom-change{
    display: flex;
    flex-direction: row;
}

.header .best-price {
    font-size: 14px;
}

.header .best-price h1 {
    margin: 0;
    font-size: 50px;
}

.best-price p{
    color: grey;
    font-size: larger;
}

.crypto-table {
    width: 100%;
    border-collapse: collapse;
}

.crypto-table th, .crypto-table td {
    padding: 15px;
    text-align: center;
}

.crypto-table th {
    background-color: #1f232d;
}

.crypto-table tbody tr:nth-child(even) {
    background-color: #1f232d;
}

.crypto-table tbody tr:nth-child(odd) {
    background-color: #2c303b;
}

.crypto-table tbody tr td img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.positive {
    color: #28a745;
}

.negative {
    color: #dc3545;
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .top-nav {
        flex-direction: column;
        align-items: center;
    }
    .header .top-change{
        display: flex;
        flex-direction: column;
    }

    .header .bottom-change{
        display: flex;
        flex-direction: column;
    }


    /* .header {
        flex-direction: column;
        width: 100vw;
    } */

    .header .percentage-change,
    .header .best-price {
        margin-bottom: 10px;
    }
}
